{{template "index" .}}

{{define "arin"}}
<div class="arin">
    <br><br>
    <img src="static/cyber.webp" width="300px" height="230px">
    <br><br><br>
    <p>
        Congratulation, You made it to the Final Level of SaDsEc Hacking Tournament Season 2.
    </p><br>

    <h3>Final Level</h3>
    <p>
        Create a report on how you find the flag at each level of 
        the tournament <br>
    </p>
    <p>
        The report should be in a sadreport.txt file and
        Once you are done with the report, send it 
        to the group(Your clan group) with the caption "sadsec24"
    </p>

    <p>
        SaDsEc team will go through each of the clan report and the winning clan will be announce, if there is one.
    </p>
    <p style="color: seashell;">Happy Hunting!!!</p>
    <p style="color: seashell;">SaDsEc Team says Aloha🎩</p>

</div>
{{end}}